
body{
  width: 100%;
}

.all-cards{
    width: 100%;
    height: 100%;
    background: linear-gradient(300deg, #55a8ad, #52709c5d, #4897c5);
    animation: BgGradient 30s ease infinite;
    background-size: 400% 300%;
    padding: 0 0 3rem 0;
    overflow: hidden;
    display: block;
   
}

@keyframes BgGradient {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 500%;}
    100%{background-position: 0% 300%;}
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    justify-content: space-evenly;
    margin: 1rem 0 ;
    

}

.filter-container{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #a2a4b400;
    justify-content:space-evenly;
     align-items: stretch;
     margin-top: 1px;
    }
.filters:hover{
    background-color: #36a0c027;
    box-shadow: 0 0 10px  #6f6f72, 0 0 10px  #9797979d, 0 0 10px  #858484 ;
    transform: translateY(-1px);
}
.filters{
    width: 300px;
    height: 30px;
    padding-right: 2%;
    color: rgb(8, 8, 8);
    font-size: 20px;
    background-color: rgba(196, 181, 181, 0.253);
    margin-top: 3px
    ;
    display: flex;
   
}
/* .filters:hover{
    background-color: #d8d7d7 ;
 
    border: 1px solid white;
    opacity: .8;
} */

select {
    width: 120px;
    background: transparent;
    border: 1px solid;
    border-radius: 30px;
    border-color: #e4dddd;
    font-size:5px;
    height: 38px;
    padding: 2px;
    background-color: white;
    cursor: pointer;
    
}



.redes {
    display: contents;
    justify-content: center;
    width: 60px;
   
    padding:5px;
    margin:auto;
    
  }
   .links img{
    width: 40px;
    cursor: pointer;
    
    align-items: center;
    
    
  }  
  .links a img{
    display: inline-block;
    justify-content:space-evenly;
    text-align: center;
    padding: 8px;
    width: 50px;
    margin: 5px;
  }
  .social h2{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
    

  @media (max-width: 500px){

 

    .all-cards{
        display:inline-block;
        width: 350px;
        height: 300px;
        background: linear-gradient(300deg, #55a8ad, #52709c5d, #4897c5);
        animation: BgGradient 30s ease infinite;
        background-size: 400% 300%;
        padding: 0 0 3rem 0;
        overflow: hidden;
        
       
    }
    .cards-container {
        /* display: flex;
        flex-wrap: wrap; */
        display:flex;
        float: left;
        width: 50px;
        margin-right: 10px;
        justify-content: space-evenly;
        margin: 1rem 0 ;
        
    
    }
    .filter-container{
        display: flex;
        width: 40px;
        height: 10px;
        background-color: #a2a4b400;
        justify-content:space-around;
         /* align-items: stretch; */
         margin-top: 1px;
        }

        .filters{
            width: 100px;
            height: 30px;
            padding-right: 2%;
            color: rgb(8, 8, 8);
            font-size: 20px;
            background-color: rgba(196, 181, 181, 0.253);
            margin-top: 3px;
            display: flex;
           
        }
        .searchBarCards{
            font-size: 5px;
            display:flex;
            height: 20px;
            
            /* justify-content: space-between;
            align-items: center; */
            /* height: 10px;
            padding: 18px 0;
            margin-right: px; */
            
          }
          .paginateCont{
            display: flex;
          }
    }

   
  